html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: #293249;
  margin: 0;
  overflow: hidden;
}

#background {
  position: absolute;
  overflow: hidden;
  background: url('./images/space.png');
  width: 600%;
  height: 600%;
  left: -300%;
  bottom: -300%;
  z-index: -1;
  transform-origin: calc(50% + 50vw) calc(50% - 300px);
}

#touchAreaLeft {
  height: 100%;
  width: 50%;
  display: inline-block;
}

#touchAreaRight {
  height: 100%;
  width: 50%;
  display: inline-block;
}

#planetFront {
  width: 600px;
  height: 600px;
  transform-origin: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 250px;
  background: url('./images/asteroidFront_600_low.png') 0 0 no-repeat;
  display: none;
}

#planetBack {
  width: 600px;
  height: 600px;
  transform-origin: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 250px;
  background: url('./images/asteroidBack_600.png') 0 0 no-repeat;
  display: none;
}

#player {
  position: fixed;
  left: 50%;
  top: 187px;
  transform: translateX(-50%);
}

.actionNotification {
  height: 50px;
  width: 50px;
  position: fixed;
  left: 50%;
  top: 125px;
  transform: translateX(-50%);
  z-index: 2;
}

#talk {
  background: url('./images/actionsInterface/talkBalloon.png');
}

#act {
  background: url('./images/actionsInterface/actionBalloon.png');
}

#textBox {
  height: 90px;
  width: 500px;
  position: fixed;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  z-index: 2;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  font-family: helvetica;
  font-weight: 700;
  color: #fff;
}

#textSpan {
  vertical-align: -webkit-baseline-middle;
  line-height: normal;
}

#titleWrapper {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#title {
  font-size: 150px;
  font-family: impact;
  font-weight: 900;
  color: #fff;
  text-align: center;
  padding-top: 180px;
  text-decoration: underline;
}

#undertitle {
  font-size: 49.8px;
  font-family: impact;
  font-weight: 900;
  color: #fff;
  text-align: center;
  margin-top: -12PX;
}

#startButton {
  font-size: 24px;
  font-weight: 100;
  font-family: helvetica;
  color: #fff;
  text-align: center;
  padding-top: 50px;
  margin: auto;
  width: 300px;
  height: 20px;
  cursor: pointer;
}

#instructions {
  font-size: 24px;
  font-family: helvetica;
  font-weight: 100;
  color: #fff;
  text-align: center;
  padding-top: 300px;
  opacity: 1;
  transition: 0.8s opacity;
}
